<div *ngIf="startLesson">
  <div *ngIf="!goEvaluation">
    <div *ngIf="!endLesson">
      <h4>{{lessonTitle}}</h4>
      <div style='position: relative; height: 100%; margin:20px; border: 1px solid #ccc;' class="mb-0 mt-0">
          <pdf-viewer [src]="pdfObject"
                      [autoresize]="true"
                      [show-all]="false"
                      [fit-to-page]="true"
                      [render-text]="false"
                      [(page)]="page"
                      (after-load-complete)="callBackFn($event)"
          ></pdf-viewer>
      </div>
      <div class="container align-bottom">
        <div class="row">
          <div class="col align-middle d-flex justify-content-center">
            <button class="btn align-self-end" (click)="previousPage()"><i class="bi bi-arrow-left-circle-fill fs-1"></i></button>
          </div>
          <div class="col align-middle d-flex justify-content-center">
            <button class="btn align-self-end" (click)="playAudio()"><i *ngIf="audio.paused" class="bi bi-play-circle-fill fs-1"></i> <i *ngIf="!audio.paused" class="bi bi-pause-circle fs-1"></i></button>
          </div>
          <div class="col align-middle d-flex justify-content-center">
            <button class="btn align-self-end" (click)="nextPage()"><i class="bi bi-arrow-right-circle-fill fs-1"></i>{{endText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!goEvaluation">
    <app-end-of-lesson 
                *ngIf="endLesson"
                [lessonId]="lessonId"
                [evaluationId]="evaluation.id"
    >
    </app-end-of-lesson>
  </div>
  <div *ngIf="goEvaluation">
    <app-go-evaluation 
      *ngIf="evaluation"
      [lessonId]="lessonId"
      [evaluationId]="evaluation.id"
      [evaluationName]="evaluation.evaluationName"
      [startEvaluation]="startEvaluation"
      [operationIdentifier]="operationIdentifier"
    >
    </app-go-evaluation>
  </div>
</div>
<div *ngIf="!startLesson">
  <app-start-lesson
    [lessonId]="lessonId"
    [userId]="userId"
    [lessonTitle]="lessonTitle"
    [(startLesson)]="startLesson"
    [(operationIdentifier)]="operationIdentifier"
  >
  </app-start-lesson>
</div>