<form class="form-lesson-add-edit" #questionForm="ngForm" (ngSubmit)="save(questionForm)">
    <div class="container-fluid">
      <h2 class="form-signin-heading">{{addEditPageTitle}}</h2>
      <br/>
      <div class="input-group mb-3">
        <span class="input-group-text col-sm-2" id="inputGroup-sizing-default">Soru:</span>
        <textarea id="questionText" name="questionText" [(ngModel)]="questionText" class="form-control" placeholder="Soru giriniz" required>
        </textarea>
      </div>
      <div *ngIf="question" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit">Güncelle</button>
      </div>
      <div *ngIf="!question" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit">Kaydet</button>
      </div>
    </div>
</form>
<br />

<div class="container-fluid" *ngIf="question.id">
  <div *ngFor="let value of AnswerEditComponentValues; let i = index">
    <app-answer-add-edit-delete-question 
      [(AnswerEditComponentValues)]="AnswerEditComponentValues" 
      Index="{{i}}"
      [QuestionId]="question.id"
      [Answer]="value"
    >
    </app-answer-add-edit-delete-question>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-success" type="submit" (click)="addComponent()">Yeni Cevap Ekle</button>
  </div>
</div>