<div class="float-right">
    <button type="button" class="btn btn-primary" (click)="addClick()">
        Yeni Soru Tanımla
    </button>
</div> <br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%;">Soru Id</th>
            <th style="width: 70%;">Soru Adı</th>
            <th style="width: 20%;">Seçenekler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questionList">
            <td>{{question.id}}</td>
            <td>{{question.questionText}}</td>
            <td>
                <button type="button" class="btn btn-light mt-1" (click)="editClick(question)">
                    Düzenle
                </button>
                <button type="button" class="btn btn-light mt-1" data-bs-toggle="modal" data-bs-target="#removeModal" (click)="removeClick(question.id)">
                    Sil
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div id="removeModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Silmek istediğinizden emin misiniz?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Soruyu sildiğinizde soru ile alakalı tüm veriler silinecektir.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="removeApproveClick()">Tamam(Sil)</button>
        </div>
      </div>
    </div>
</div>