<form class="form-lesson-add-edit" #LessonForm="ngForm" (ngSubmit)="save(LessonForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">{{AddEditPageTitle}}</h2>
    <br/>
    <div class="input-group mb-3">
      <span class="input-group-text col-sm-2" id="inputGroup-sizing-default">Eğitim Adı:</span>
      <input type="text" id="lessonName" name="lessonName" [(ngModel)]="LessonName" class="form-control" placeholder="Eğitim adı giriniz" required autofocus>
    </div>
    <div *ngIf="Lesson" class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="submit">Güncelle</button>
    </div>
    <div *ngIf="!Lesson" class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
  </div>
</form>
<br />

<app-pdf-add-delete-download-lesson  *ngIf="Lesson" [LessonId]="Lesson.id"></app-pdf-add-delete-download-lesson>

<div class="container-fluid" *ngIf="Lesson">
  <div *ngFor="let value of SoundComponentValues; let i = index">
    <app-sound-add-delete-download-lesson 
      [(SoundComponentValues)]="SoundComponentValues" 
      Index="{{i}}"
      [LessonId]="Lesson.id"
      [soundFile]="value"
    >
    </app-sound-add-delete-download-lesson>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-success" type="submit" (click)="addComponent()">Yeni Ses Ekle</button>
  </div>
</div>