.bottomNavbar {
    margin: 0;
    margin-left:-12px;
  }
  
  .navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .radiusLeft {
    border-radius: 10px 0px 0px 10px;
  }

  .radiusRight {
    border-radius: 0px 10px 10px 0px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: rgba(255,255,255,.55);
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }