<div class="content">
    <br>
    <h6>      Aşağıdaki takvimde "Progresif Gevşeme Egzersizleri" yaptığınız günler  <strong class="text-success">Yeşil</strong> yapmadığınız günler <strong class="text-warning">Sarı</strong> ile boyanmaktadır. </h6>
    <br>
    <div>
        <div class="row">
          <div
            class="btn btn-primary col"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
          >
           Geçmiş Ay
          </div>
          <div
            class="btn btn-outline-secondary col"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Bugün
          </div>
          <div
            class="btn btn-primary col"
            [view]="view"
            mwlCalendarNextView
            [(viewDate)]="viewDate"
          >
            Gelecek Ay
          </div>
        </div>
      </div>

    <mwl-calendar-month-view
    [viewDate]="viewDate"
    [weekStartsOn]="1"
    [events]="events"
    (beforeViewRender)="beforeMonthViewRender($event)"
    >
    </mwl-calendar-month-view>
</div>
<div>
    <app-bottom-navbar></app-bottom-navbar>
</div>