<div class="content">
  <ngx-spinner></ngx-spinner>
  <div class="list-group" #myAnswers *ngFor="let lesson of LessonList">
      <a style="cursor: pointer" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" (click)="startLesson(lesson.id)">
        <div class="ms-2 me-auto fw-bold">
            {{lesson.lessonName}}
        </div>
        <i *ngIf="lesson.done" class="bi bi-emoji-smile fs-1 btn btn-success"></i>
        <i *ngIf="!lesson.done" class="bi bi-emoji-frown fs-1 btn btn-danger"></i>
      </a>
  </div>
</div>
<div>
  <app-bottom-navbar></app-bottom-navbar>
</div>